@font-face{
    font-family: satellite-bold;
    src: url('../font/Satellite.otf');
    font-weight: bold;
}

@font-face{
    font-family: satellite;
    src: url('../font/Satellite.otf');
    font-weight: normal;
}

.container-input::before
{
    content: "";
    background: url("../img/blur.png");
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: -2;
}

.container-input {
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 80%;
    top: 12.5%;
    margin: 0 auto;
    z-index: 0;
    /*background-color:rgba(25, 25, 112, 0.8);*/
    /*background-color: rgba(240,255,255,0.3)*/
}

.rgb-layer {
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
    position:absolute;
    border-radius: 15px;
}

.input-place {
    justify-content: center;
    position: absolute;
    top:25%;
    align-self: center;
    width: 800px;
}

.result{
    color: aliceblue;
    justify-content: center;
    position: absolute;
    top:31.5%;
    align-self: center;
    width: 800px;
}

.music-thead {
    color: aliceblue;
    font-size: 30px;
    border-radius: 60px;
    border-color:#666666;
}

.music-thead tr th{
    font-family: satellite-bold;
}
.music-table{
    align-self: center;
    margin-top: 1%;
    width:95%;
}

.table-hover > tbody > tr:hover > td,

.table-hover > tbody > tr:hover > th {

background-color: rgba(25, 25, 112, 0.7);

}


.music-info{
    font-size:20px;
    color: lavender;
    font-family: satellite;
    border-color:rgba(173,216,230,0.5)!important;
}