<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/fileinput.css">
    <link rel="stylesheet" href="../static/css/query.css">
    <link rel="stylesheet" href="../static/css/add.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/fileinput.min.js"></script>

    <title>VIS</title>
</head>

<body>
    <div class="bg">
        <nav class="navbar navbar-transparent navbar-fixed-top">
                <div class="container-nav">
                    <img src="../static/img/logo.png" class="nav-logo" alt="">
                    <div href="/index" class="welcome navbar-brand">Welcome to VIS</div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text"><a href="/query"><b>Query</b></a></li>
                        <li class="navbar-text"><a href="/add"><b>Add</b></a></li>
                        <li class="navbar-text"><a href="/judge"><b>Judge</b></a></li>
                    </ul>
                </div>
        </nav>
        <div class="container-input">
            <div class="rgb-layer"></div>
            <div class="add-des" style="font-size:25px; font-family:moon;">
                <br><br><br>
                Please upload two music files, we'll calculate their similarity<br>
            </div>
            <div class="input-place">
                <div class="upload-wrap">
                    <input type="file" multiple="multiple" id="inmusic">
                </div>
            </div>
        </div>
    </div>
</body>

<script>
     // with plugin options
    $("#inmusic").fileinput({
        allowedFileTypes: 'audio',
        required: true,
        allowedFileExtensions: ['wav', 'mp4', 'mp3'],
        uploadUrl: "http://localhost:5000/judge",
        maxFileCount: 2,
        minFileCount: 2,
        maxTotalFileCount: 5,
        validateInitialCount:true,
        multiple: true,
        uploadAsync: false,
        showUploadedThumbs: true,
        mergeAjaxCallbacks: true,
        msgUploadThreshold:"Files have been uploaded! Calculating...",
        ajaxSettings: {

            success: function(res) {
                console.log(res);
                var score = res['rate'];
                $(".add-des").css("display", "none");
                $(".input-place").css("display", "none");
                var result = document.createElement("div");
                var comment;
                if (score > 80.00)
                    comment = "Maybe they're the same??";
                else if (score > 60)
                    comment = "They're quite alike!!";
                else if (score > 40)
                    comment = "Hmm, they can't be from the same song..";
                else
                    comment = "Ehh, they're comletely different!!";

                result.setAttribute("class", "result");
                result.setAttribute("style", "font-family:moon; font-size:40px;");
                result.innerHTML = "The Similarity is " + score + "&#37 <br>" + comment;
                $(".container-input").append(result);
            }
        }
    });
</script>
</html>